<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.puza.usefulfeatures">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".pushNotification.PushNotificationActivity" />
        <activity android:name=".kenburnView.kenburnViewActivity" />
        <activity android:name=".pathViewAnimation.PathViewAnimationActivity" />
        <activity android:name=".rippleEffect.RippleEffectBackgroudActivity" />
        <activity android:name=".drawableView.DrawableViewActivity" />
        <activity android:name=".parallax_tabLayout.ParallaxEffectTabLayoutActivity" />
        <activity
            android:name=".splashScreen.SplashScreenActivity"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".splashScreen.Splashscreen"
            android:theme="@style/SplashTheme" />
        <activity android:name=".expandableListViewWIthImagesAndTexts.ExpandableListViewActivity" />
        <activity android:name=".customDialogueBox.CustomDialogueBoxActivity"></activity>
        <activity android:name=".customDialogueBox.CustomDialogueBox2Activity">

        </activity>
        <activity
            android:name=".stickyHeader.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>